!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", :"http-equiv" => "Content-Type"}
  %body
    %h1
      A new report has been published for you to view.
    %p
      Click
      = link_to "here", "#"
      to view the image gallery for this tour date!
    %p
      Thank you for being a part of Uproar!