- if report.user.tour_rep?
  - report.pictures.where(:company_id => Company.first.id).each do |picture|
    = link_to(image_tag(picture.image.url(:thumb)), picture.image.url(:watermarked), :rel => "lightbox[gallery]")
- else
  - report.pictures.each do |picture|
    = link_to(image_tag(picture.image.url(:thumb)), picture.image.url(:watermarked), :rel => "lightbox[gallery]")
