%p
  Hello #{@resource.email}!
%p You have been registered as a user for the Rockstar Uproar reporting website.  All you need to do in order to login is setup your password, and you can do this through the link below.
%p= link_to 'Setup my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Your password won't change until you access the link above and create a new one.
